<html>
    <head>Contact page</head>
    <body>
        <div class="content">
            <form action="https://formspree.io/sruthi.santhosh2@mail.dcu.ie" method="post">
                <p>
                    <label for="contact-name">Your Name</label>
                    <input id="contact-name" type="text" name="contact-name" />
                </p>
                <p>
                    <label for="contact-emial">Your email address</label>
                    <input id="contact-email" type="email" name="contact-email" />
                </p>
                <p>
                    <label for="contact-phone">Your phone number</label>
                    <input id="contact-phone" type="tel" name="contact-phone" />
                </p>
                <p>
                    <label for="contact-message">Your message</label>
                    <textarea id="contact-message" name="contact-message" rows="5"> </textarea>
                </p>
                <p>
                    <input type="submit" value="send my message" />
                </p>
            </form>
            <a href="index">Back to Homepage</a>
        </div>
    </body>
</html>